@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    /* Fontes */
    --fonte-principal: 'Josefin Sans', sans-serif;
    --fonte-secundaria: 'Open Sans', sans-serif;

    /* Cores */
    --background: #A9BEB4;
    --cor-do-titulo: #041308;
    --cor-da-descricao: #055F14;
    --cor-do-botao: #35B972;
    --hover-do-botao: #3c7758;
    --cor-do-phaceholder: #35B972;
    --cor-do-rodape: #42815B;
}

body {
    background-color: var(--background);
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    color: white;
}

.container__titulo {
    padding-top: 5em;
}

.titulo {
    font-size: 20px;
    margin: 1em 0 1em 0;
    text-align: center;
    color: var(--cor-do-titulo);
}

.texto {
    font-size: 20px;
    margin: 1em 0 0 0;
    text-align: justify;
    margin: 0 8px 0 8px;
    color: var(--cor-da-descricao);
}

form {
    text-align: center;
    padding-top: 5em;
}

.input__nome {
    width: 229px;
    height: 39px;
    outline: none;
    border: 2px solid white;
    border-radius: 5px;
}

.input__nome::placeholder {
    color: var(--cor-do-phaceholder);
    font-weight: bold;
    font-size: 16px;
}

.input__nome:hover {
    -webkit-box-shadow: 0px -2px 6px 1px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px -2px 6px 1px rgba(0, 0, 0, 0.68);
    box-shadow: 0px -2px 6px 1px rgba(0, 0, 0, 0.68);
}

.btn {
    width: 89px;
    height: 38px;
    margin-left: 10px;
    background-color: var(--cor-do-botao);
    color: white;
    border: none;
}

.btn:hover {
    background-color: var(--hover-do-botao);
}

.lista {
    margin-top: 50px;
    color: white;
    text-align: center;
}

.lista li {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 2px solid rgb(126, 73, 180);
    width: 40%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0 15px;
}

.rodape {
    position: fixed;
    bottom: 0;
    background-color: var(--cor-do-rodape);
    width: 100%;
    height: 47px;
}

.texto-rodape {
    padding-top: 7px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.icone {
    margin-left: 20px;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (max-width: 767.98px) {
    .container__titulo {
        padding-top: 7em;
    }

    .input__nome::placeholder {
        font-size: 13px;
        color: var(--cor-do-phaceholder);
    }
}

@media screen and (min-width: 768px) {

    .titulo {
        margin: 4em 0 1em 0;
    }

    .container {
        width: 80%;
        margin: auto;
    }

    .input__nome {
        width: 40%;
        height: 35px;

    }

    .input__nome::placeholder {
        font-size: 13px;
        color: var(--cor-do-phaceholder);
    }

    form {
        text-align: center;
        padding-top: 3em;
    }


    .btn {
        width: 13%;
        height: 35px;
        margin-left: 10px;
        background-color: #22A699;
        color: white;
    }

}

@media screen and (min-width: 1728px) {
    .titulo {
        margin: 4em 0 1em 0;
        font-size: 22px;
    }

    .texto {
        font-size: 22px;
    }

    .container {
        width: 50%;
        margin: auto;
    }

    .input__nome {
        width: 658px;
        height: 52px;

    }

    .input__nome::placeholder {
        font-size: 15px;
        color: var(--cor-do-phaceholder);
    }

    form {
        text-align: center;
        padding-top: 3em;
    }

    .btn {
        width: 200px;
        height: 52px;
        margin-left: 10px;
        font-size: 16px;
        font-weight: bold;
        background-color: #22A699;
        color: white;
    }
}